<header class="d-flex justify-content-between align-items-center p-3 border-bottom bg-body">
	<h1 class="h4">
		<a href="/" class="d-flex align-items-center text-decoration-none">
			<span>Simulador de financiamento</span>
		</a>
	</h1>

	<a href="https://github.com/LeandroSQ/simulador-de-financiamento" class="link-secondary" target="_blank" rel="noopener" title="GitHub">
		<i class="lab la-github"></i>
		Github
	</a>

	<div id="color-switch" class="btn-group btn-group-sm" role="group" aria-label="Tema">
		<input type="radio" class="btn-check" name="color-switch" id="color-switch-light" value="light" autocomplete="off">
		<label class="btn btn-outline-primary" for="color-switch-light">
			<i class="las la-sun"></i>
		</label>

		<input type="radio" class="btn-check" name="color-switch" id="color-switch-auto" value="auto" autocomplete="off" checked>
		<label class="btn btn-outline-primary" for="color-switch-auto">
			<i class="las la-adjust"></i>
		</label>

		<input type="radio" class="btn-check" name="color-switch" id="color-switch-dark" value="dark" autocomplete="off">
		<label class="btn btn-outline-primary" for="color-switch-dark">
			<i class="las la-moon"></i>
		</label>
	</div>
</header>