<div id="generic-modal" class="modal fade" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header text-light" id="generic-modal-header">
				<h5 id="generic-modal-title"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p id="generic-modal-body"></p>
			</div>
			<div class="modal-footer justify-content-center">
				<button type="button" class="btn btn-light px-5" data-bs-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>